
a {
  cursor: pointer;
}

html,
body {
  /*background: #f3f3f3,*/
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
  font-size: 14;
}

/* Add a black background color to the top navigation */
.topnav {
  /*background-color: #f3f3f3;*/
  background-color: #14324B;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



.topnav-right {
  float: right;
}

.legendEntry, .legend {
  font: 10px sans-serif;
}


h1, h2, h3, h4 {
  text-align: center;
}

svg {
  display: block;
  margin: 0 auto;
}

* {
box-sizing: border-box;
}

section{
display: block;
}

/*#intro{
margin-bottom: 100px;
text-align: center;
}*/

/*.intro__p{
  margin: 5% 0% 0% 0%;
  text-align: "left";
}*/

#intro{
  margin: 5% 15% 5% 15%;
  text-align: "left";
}

/*body{ font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-size: 24px;
}*/

html{
display: block;
}


#scrolly {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
/*background-color: #f3f3f3;*/
padding: 1rem;
}

#scrolly > * {
-webkit-box-flex: 1;
-ms-flex: 1;
flex: 1;
}

article {
position: relative;
/*padding: 0 1rem;*/
padding: 0rem 0rem 0rem 2rem;
margin: 0;
max-width: 20rem;
}

figure {
position: -webkit-sticky;
position: sticky;
width: 100%;
margin: 0;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
/*background-color: #8a8a8a;*/
z-index: 0;
}

#map{
  padding-bottom: 10px;
}

figure p {
text-align: center;
padding: 1rem;
position: absolute;
top: 50%;
left: 50%;
-moz-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
font-size: 6rem;
font-weight: 900;
color: #fff;
margin: 0%;
}

.step {
margin: 0 auto 2rem auto;
padding: 1%;
/*background-color: #3b3b3b;*/
color: #fff;
}

.step:last-child {
margin-bottom: 0;
}

.step.is-active {
/*background-color: goldenrod;*/
background-color: #f3f3f3;
/*color: #3b3b3b;*/
color: black
}

.step p {
/*text-align: center;*/
padding: 1rem;
/*font-size: 1.5rem;*/
margin-top: 0;
}



#time, #income{
  margin-top: 5%;
}

#outro {
  /*background-color: #f3f3f3;*/
  padding: 1rem;
  display: flex;
  flex-direction: column;
  }

.select_city {
    flex: 1;
  }

.figures_cities {
    flex: 3;
    overflow: scroll;
  }

/*.figures_city{
  display: flex;
  justify-content: space-between;
  position: relative;
}*/

#chart{
  padding: 1rem;
}

  polyline{
    stroke: black;
    stroke-width: 1px;
    fill: none;
  }

select {
  padding-left: 5px;
  margin-left: 16%;
  }

footer {
    text-align: center;
    padding: 10px;
    /*background-color: rgb(51, 51, 51);*/
    background-color: lightgray;
    color: black;
    font-size: 12px;
    width: 100%;
    left:0px;
    bottom:0px;
    /*position: fixed;*/
  }